<EmberTable as |t|>
  <t.head @columns={{columns}} as |h|>
    <h.row as |r|>
      <r.cell as |column|>
        {{column.name}}
      </r.cell>
    </h.row>
  </t.head>

  <t.body
    @selection={{selection}}
    @onSelect={{action (mut selection)}}
    @checkboxSelectionMode="none"
    @enableTree={{false}}
    @staticHeight={{true}}
    @estimateRowHeight={{30}}
    @rows={{data}} as |b|>
    <b.row as |r|>
      <r.cell as |cell column row cellMeta columnMeta rowMeta|>
        {{#if column.cellComponent}}
          {{#component
            column.cellComponent
            value=cell
            args=column.args
            cellClassNames=column.cellClassNames
            onchange=(action (mut value))
            rowMeta=(if column.useRowMeta rowMeta)}}
            {{column.cellClassNames}}
            {{cell}}
          {{/component}}
        {{else}}
          <span class={{column.cellClassNames}}>
            {{cell}}
          </span>
        {{/if}}
      </r.cell>
    </b.row>
  </t.body>
</EmberTable>